extends layout

block header
  p= name

block content
  div#loginWrapper
    form()
      div.control-group.input-append
        label.add-on(for="username") Username: 
        input(type="text", name="username")
      div.content-group.input-append
        label.add-on(for"password") Password: 
        input(type="text", name="password")
      div.inputbtns
        button#login(type="button") Login
        button#register(type="button") Register

    .registerNotification