extends layout

block header
  p= name

block content
  div
    form(action="/login", method="post")
      div.control-group.input-append
        label.add-on(for="username") Username: 
        input(type="text", name="username")
      div.content-group.input-append
        label.add-on(for"password") Password: 
        input(type="text", name="password")
      div.inputbtns
        button(type="submit") Login
        button#register(type="button") Register