extends layout

block header
  #page-name
    p= name

block content
  div#loginWrapper
    form()
      div.control-group.input-append
        label.add-on(for="username") Username: 
        input(type="text", name="username")
      div.content-group.input-append
        label.add-on(for"password") Password: 
        input(type="password", name="password")
      div.inputbtns
        button#login(type="button") Login
        button#register(type="button") Register

    .registerNotification

block foot
  #name-plate
    p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson