extends layout

block content
  .header
    p | Order Up
  .app
    #tables
      .sectiontitle Tables
    #orders
      .sectiontitle Orders
    #menu
      .sectiontitle Menu
  .footer
    p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson