extends layout

block header
  p= name

block content
  .order-content-1
    .order-name Sandwich
    .order-time 5:49 PM
  .order-content-2
    .order-name Hamburger
    .order-time 5:51 PM
  .order-content-1
    .order-name Soup
    .order-time 5:51 PM
  .order-content-2
    .order-name Veal
    .order-time 5:52 PM