extends layout

block header
  #page-name
    p= name

block content
  ul.kitchenOrders

block foot
  #name-plate
    p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson
  .switchview-button#waiter-button
    p Waiter View   