doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jQuery/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/jQuery-UI.custom/js/jquery-ui-1.10.0.custom.min.js')
    script(type='text/javascript', src='/javascripts/ClickHandling.js')
    script(type='text/javascript', src='/javascripts/UXWaiter.js')
    script(type='text/javascript', src='/javascripts/StartupAndBrowserEvents.js')
  body
    .header
      block header
    .app
      block content
    .footer
      block foot