doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jQuery/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascripts/stylefunctions.js')
  body
    .header
      p= name
    .app
      block content
    .footer
      p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson