doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      p= name
    .app
      block content
    .footer
      p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson