extends layout

block header
  p= name
    #waiter-name
      p= "• " + username

block content
  #tables
    .section-title Tables
    .content-wrapper
      .tables-menu-item 1
      .tables-menu-item 2
      .tables-menu-item 3
      .tables-menu-item 4
      .tables-menu-item 5
      .tables-menu-item 6
      .tables-menu-item 7
      .tables-menu-item 8
      .tables-menu-item 9
      .tables-menu-item 10
      .tables-menu-item 11
      .tables-menu-item 12
      .tables-menu-item 13

   
  #orders
    .section-title Orders
    .content-wrapper
      .orders-menu-item
        .item-name
          p Sandwich
        .item-price
          p $5.99
      .orders-menu-item
        .item-name
          p Ham
        .item-price
          p $2.99
    .section-footer
      .send-button
        p Send Orders to Kitchen

  #menu
    .section-title Menu
    .content-wrapper
      #menu-content-left
        .menu-menu-item
          .item-name
            p Sandwich
          .item-price
            p $5.99
        .menu-menu-item
          .item-name
            p Sandwich
          .item-price
            p $5.99
        .menu-menu-item
          .item-name
            p Sandwich
          .item-price
            p $5.99

      #menu-content-right
        .menu-category
          #drinks
        .menu-category
          #food
        .menu-category
          #dessert

    .section-footer
      .send-button
        p Add Item to Order
  