extends layout

block header
  #page-name
    p= name
  #logout-button
      p Logout
  #waiter-name
    p= "• " + username

block content
  #tables
    .section-title
      p Tables
    .content-wrapper
      .tables-menu-item
        p 1
      .tables-menu-item
        p 2
      .tables-menu-item
        p 3
      .tables-menu-item
        p 4
      .tables-menu-item
        p 5
      .tables-menu-item
        p 6
      .tables-menu-item
        p 7
      .tables-menu-item
        p 8
      .tables-menu-item
        p 9
      .tables-menu-item
        p 10
      .tables-menu-item
        p 11
      .tables-menu-item
        p 12
   
  #orders
    .section-title
      p Orders
    .content-wrapper
      ul#sortable.ui-sortable
        

    .section-footer
      .send-button
        p Send Orders to Kitchen

  #menu
    .section-title
      p Menu
    .content-wrapper
      #menu-content-left
        ul
          

      #menu-content-right
        .menu-category.drink
          #drinks
        .menu-category.food
          #food
        .menu-category.dessert
          #dessert

    .section-footer

block foot
  #name-plate
    p Gauhar Shakeel • Ben Fairclough • Sean Malcolmson
  .switchview-button#kitchen-button
    p Kitchen View  